.page
	height: 100vh
	@media screen and (max-width: 1000px)
		height: 100%

.page-heading
	color: #331832
	font-size: calc(30px + 2vmin)
	font-weight: bold
	margin-bottom: 0
	margin-right: 5vw
	margin-top: 5%
	text-align: center
	font-family: 'Lexend', sans-serif
	@media (max-width:480px)
		font-size: calc(15px + 2vmin)
		text-align: center
		margin-right: 0 
	@media (max-width: 700px)
		font-size: calc(20px + 2vmin)
		text-align: center

.page-heading2
	font-size: calc(15px + 1.5vmin)
	font-weight: bold
	font-family: 'Poppins', sans-serif

.subheading
	font-family: 'Lato', sans-serif
	margin-top: 2%
	margin-bottom: 4vh 
	margin-left: 5vw 
	font-size: calc(8px + 1vmin)
	font-weight: 500
	width: 90% 
	margin-right: auto 
	margin-left: auto 
	text-align: center

.illustration1
	width: 50vw 
	height: 40vh 
	margin-left: auto
	margin-right: auto
	@media (max-width:480px)
		width: 70vw 
		height: 35vh 

.homepage-section, .about-section
	margin-left: 5vw 
	display: flex
	flex-direction: row
	justify-content: space-between
	@media all and (max-width: 1000px), all and (max-height: 600px)
		flex-direction: column

.page-column
	margin-top: 4vh 
	flex: 1
> *
	margin-right: 4vw 
	margin-left: 4vw

.button-description
	font-size: calc( 10px + 1.8vmin )
	margin-top: 4vh 
	text-align: center

#signup-button
	width: 3vw
	@media (max-width:480px)
		width: 1vw
		margin-right: 0

#login-button
	wdith: 3vw
	@media (max-width:480px)
		width: 1vw 
		margin-right: 0

.top-buttons
	display: flex
	flex-direction: row
	gap: 10px
	position: absolute
	right: 25px // Changed from 25px to 3vw
	top: 25px // Changed from 25px to 3vw
	@media (max-width:700px)
		flex-direction: column
		gap: 0

#login-button, #signup-button
	flex: 1

.illustration1
	width: 50vw // Changed from 600px to 50vw
	height: 40vh // Changed from 500px to 40vh
	margin-left: auto
	margin-right: auto
	padding-right: 10vw // Changed from 105px to 10vw
	margin-top: 4vh // Changed from 20px to 4vh
	@media (max-width:480px)
		width: 70vw // Changed from 300px to 70vw
		height: 35vh // Changed from 300px to 35vh
		padding-right: 0 // Remove right padding on small screens

.end-buttons
	display: flex
	flex-direction: row
	justify-content: space-between
	width: 25%
	margin-left: auto
	margin-right: auto

.about-section
	position: absolute
	bottom: 0
	left: 0
	margin: 4vh 
	padding: 1vh // Changed from 5px to 1vh
	min-width: 8vw // Changed from 85px to 8vw

#getstarted-button
	margin-left: 35vw
	width: 12%
	display: inline-flex
	align-items: flex-start
	justify-content: center
	white-space: nowrap
	border-radius: 50px
	padding: 1vh 
	font-weight: 600
	text-decoration: none
	min-width: 8vw 
	font-size: calc(1vw + 1.2vh) 
	transition: 0.2s
	border: none
	user-select: none
	background: #361D2E
	color: #ffffff
	&:hover
		cursor: pointer
		transform: scale(1.05)
	@media (max-width:480px)
		width: 5vw 
		margin-left: 33vw 

.number
	font-family: 'Poppins', sans-serif
	font-weight: 800
	margin-right: 2vw 

.flex-column
	display: flex
	flex-direction: column

.flex-row
	display: flex
	flex-direction: row
	justify-content: space-between

.flex-align-center
	align-items: center

.flex-center
	display: flex
	justify-content: center

.about-description
	background: #ffffff
	border: 2px solid #361D2E
	padding: 0 5vw
	margin: 10vh 0 h
	width: 90%
	height: 40%
	display: flex
	flex-direction: column
	font-size: calc(1vw + 1.6vh) 
	@media all and (max-width: 1000px)
		height: max-content 
		margin-bottom: 4vh 
		padding-bottom: 2vh 
	@media all and (max-height: 600px)
		height: max-content 
		margin-bottom: 4vh
		padding-bottom: 2vh 
	@media all and (max-width: 700px)
		width: 95%
		margin-right: 2vw 
		margin-left: auto 
		margin-right: auto
		padding: 0 3vw 
	@media (max-width:480px)
		height: max-content 
		margin-bottom: 4vh 
		margin-right: 2vw 

.logo-bar
	display: flex
	flex-direction: row
	width: 13vw // Changed from 220px to 20vw
	margin-top: 2vh // Changed from 10px to 2vh
	margin-left: 1vw // Changed from 15px to 2vw
	cursor: pointer
	@media all and (max-width: 1050px)
		width: 27vw !important
	@media (max-width:480px)
		width: 40vw !important
		flex-direction: column
