.page
	height: 100vh
	@media all and (max-width: 1000px)
		height: max-content

.page-heading
	color: #331832
	font-size: calc(30px + 2vmin)
	font-weight: bold
	margin-bottom: 0
	margin-right: 150px
	margin-top: 5%
	text-align: center
	font-family: 'Lexend', sans-serif
	@media (max-width:480px)
		font-size: calc(10px + 2vmin)
		text-align: center
	@media (max-width: 700px)
		font-size: calc(10px + 2vmin)
		text-align: center

.page-heading2
	font-size: calc(15px + 1.5vmin)
	font-weight: bold
	font-family: 'Poppins', sans-serif

.subheading 
	font-family: 'Lato', sans-serif
	margin-top: 2%
	margin-bottom: 60px
	margin-left: 16%
	font-size: calc(8px + 1vmin)
	font-weight: 500
	width: 60%
	text-align: center

.illustration1
	width: 500px
	height:400px
	margin-left: auto
	margin-right: auto
	@media (max-width:480px)
		width: 300px
		height: 300px

.homepage-section, .about-section
	margin-left: 8%
	display: flex
	flex-direction: row
	justify-content: space-between
	@media all and (max-width: 1000px), all and (max-height: 600px)
		flex-direction: column

.page-column
	margin-top: 60px
	flex: 1
	> *
		margin-right: 40px
		margin-left: 40px

.button-description
	font-size: calc( 10px + 1.8vmin )
	margin-top: 40px
	text-align: center

#signup-button
	position: absolute
	right: 25px
	top: 25px

#login-button
	position: absolute
	right: 25px
	top: 25px
	margin-right: 9%

.illustration1
	width: 600px
	height:500px
	margin-left: auto
	margin-right: auto
	padding-right: 105px
	margin-top: 20px
	@media (max-width:480px)
		width: 300px
		height: 300px

.end-buttons
	display: flex
	flex-direction: row
	justify-content: space-between
	width: 25%
	margin-left: auto
	margin-right: auto
	
.about-section
	position: absolute
	bottom: 0
	left: 0
	margin: 30px 30px
	padding: 5px
	min-width: 85px

#play-button
	margin-left: 39%
	width: 12%
	display: inline-flex
	align-items: flex-start
	justify-content: center
	white-space: nowrap
	border-radius: 50px
	padding: 10px 15px
	font-weight: 600
	text-decoration: none
	min-width: 80px
	font-size: 17px
	transition: 0.2s
	border: none
	user-select: none
	background: #361D2E
	color: #ffffff
	&:hover
		cursor: pointer
		transform: scale(1.05)
	@media (max-width:480px)
		width: 5%
		margin-left: 33%

.number
	font-family: 'Poppins', sans-serif
	font-weight: 800
	margin-right: 20px

.flex-column
	display: flex
	flex-direction: column

.flex-row
	display: flex
	flex-direction: row
	justify-content: space-between

.flex-align-center
	align-items: center

.flex-center
	display: flex
	justify-content: center

.how-to-play
	background: #ffffff
	border: 2px solid #361D2E
	padding: 0 35px
	margin: 10% 0%
	width: 60%
	height: 60%
	display: flex
	flex-direction: column
	@media all and (max-width: 1000px)
		height: 100%
		margin-bottom: 40px
	@media all and (max-height: 600px)
		height: max-content
		margin-bottom: 40px
		padding-bottom: 20px
	@media all and (max-width: 700px)
		width: 95%
		margin-right: 8%
	@media (max-width:480px)
		height: 100%
		margin-bottom: 40px
		margin-right: 8%

.about-description
	background: #ffffff
	border: 2px solid #361D2E
	padding: 0 35px
	margin: 10% 0%
	width: 100%
	height: 40%
	display: flex
	flex-direction: column
	font-size: 20px
	@media all and (max-width: 1000px)
		height: 100%
		margin-bottom: 40px
	@media all and (max-height: 600px)
		height: max-content
		margin-bottom: 40px
		padding-bottom: 20px
	@media all and (max-width: 700px)
		width: 95%
		margin-right: 8%
	@media (max-width:480px)
		height: 100%
		margin-bottom: 40px
		margin-right: 8%

#tips
	display: flex
	flex-direction: column
	> div
		display: flex
		flex-direction: column
		margin-left: 30px

.tips-title
	margin-left: 30px
	font-size: calc(20px + 2vmin)
	font-weight: 600

.logo-bar
	display: flex
	flex-direction: row
	width: 220px
	margin-top: 10px
	margin-left: 15px
	cursor: pointer
	@media (max-width:480px)
		flex-direction: column